<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStockExchange" />
                <binding name="BasicHttpBinding_IStockExchangeOrder" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4416/StockExchange.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStockExchange" contract="SE_Services.StockExchange"
                name="BasicHttpBinding_IStockExchange" />
            <endpoint address="http://localhost:4416/StockExchange.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStockExchangeOrder"
                contract="StockExchangeServices.IStockExchangeOrder" name="BasicHttpBinding_IStockExchangeOrder" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.6.0" newVersion="2.0.6.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
